<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Sign up</title>
</head>
<body>

<header>
    <a href="/signup">Sign up</a>
    <a href="/auth">Sign in</a>
    <a href="/users">All users</a>
</header>

<form action="/signup" method="post">
    <p>Enter name:</p>
    <input type="text" name="name"><br>
    <p>Enter email:</p>
    <input type="text" name="email"><br>  
    <p><small>{{badEmailMsg}}</small></p>  
    <p>Enter password:</p>
    <input type="text" name="password"><br>
    <p><small>{{badPasswordMsg}}</small></p>   
    <p><small>{{userMsg}}</small></p> 
    <input type="submit" value="Send">    
</form>

</body>
</html>